.file-picker-placeholder {
  width: 100px;
  height: 100px;
  border: var(--p-border-width-025) dashed var(--p-color-border-tertiary);
  border-radius: var(--p-border-radius-200);
  background-color: var(--p-color-bg-surface-secondary);
  padding: var(--p-space-200);
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease;
}

.file-picker-placeholder:hover {
  background-color: var(--p-color-bg-surface-secondary-hover);
  border-color: var(--p-color-border-hover);
}

/* Style when placeholder contains an image */
.file-picker-placeholder img {
  width: 100px;
  height: 100px;
  border: none;
  padding: 0;
  background-color: transparent;
  border-radius: var(--p-border-radius-200);
  transition: all 0.2s ease;
  object-fit: cover;
}

.file-picker-placeholder:hover img {
  opacity: 0.8;
} 